<div id="links">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
    <p>@Html.ActionLink("Engineers", "Index", "Engineers")</p>
    <p>@Html.ActionLink("Machines", "Index", "Machines")</p>
</div>