@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new eningeer</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  <input type="submit" value="Add new engineer" class="btn" />
}
<br>
<p>@Html.ActionLink("Show all engineers", "Index")</p>
