@{
    Layout = "_Layout";
}


<h1>Engineers</h1>

<br>
@using Factory.Models

<ul>@foreach (Engineer engineer in @Model)
{
    <li>@Html.ActionLink(engineer.Description, "Details", "Engineers", new {id = engineer.EngineerId})</li>
}
</ul>
<br>

<h4><a href='/engineers/create'>Add a new engineer profile!</a></h4>